body{
    background-color: blueviolet;
    margin: 40px;
}
.box{
    display: inline-block;
    border: 2px dashed black;
    width: 300px;
    height: 300px;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    margin: 20px;
    vertical-align: bottom;
}
.box1{
    background-position: left top;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box2{
    Background-position: right top;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box3{
    Background-position: right bottom;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box4{
    background-position: left bottom;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box5{
    background-position: center top;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box6{
    background-position: center bottom;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box7{
    background-position: center left;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box8{
    background-position: left 10px bottom -25px;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box9{
    background-position: 90% 90%;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.box10{
    background-position: left -33% top -10px;
    background-image: url(icons/abstract-bg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
}
.grid > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
  }
.grid{
    display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "sd sd sd main main main main main main"
    ".  .  .  ft   ft   ft   ft   ft   ft";

}
.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
}
.grid_item3{
    grid-area: "a";
}
.grid_item4{
    grid-area: "a";
}
.grid_item5{
    grid-area: "a";
}
.grid_item6{
    grid-area: "a";
}
.grid_item7{
    grid-area: "a";
}
.grid_item8{
    grid-area: "a";
}